# General folders
/.idea
/.gradle
/captures
/out
/projectFilesBackup*

# General files
.DS_Store
local.properties
*.iml

# Build folders
/.build
/build
/android/build
/apple/build

# iOS workspace folders
xcuserdata
/apple/Index/
/apple/Pods/
/apple/.idea
/apple/.ruby-version
